* {
font-family:'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.app {
  display: block ;
}

h2 {
  margin : 10px 0;
}

.left-navi {
  border-right: 1px solid #ccc;
  display: flex;
  padding : 10px;
  background : #555;

  a {
  color: #fff;
  text-decoration:none;
  }

  li {
  margin: 0 10px;
  }
}

.app-title {
  text-align: center;
  margin-top: 0;
}

.result-area {
  margin : 40px 0;
}

.result-right {
  margin : 45px auto;
  width : 1000px;
  max-width: 100%;
}

.search-page {
  margin : 40px 0;
}
